* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    background-color: cadetblue;
    min-height: 100vh;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 300px 100px 1fr;
}

#header {
    grid-column: 1 / 4;
    display: grid;
    place-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    cursor: pointer;
    font-family: 'Righteous', sans-serif;
    font-size: 10rem;
    letter-spacing: 10px;
    color: rgb(255, 196, 0);
}

#sub-header {
    grid-column: 1 / 4;
    font-family: 'Linden Hill', serif;
    font-size: 3rem;
    color: rgb(255, 247, 0);
}
.dice {
    margin-inline: auto;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Linden Hill', serif;
    font-size: 3rem;
    
}

.borderp1, .borderp2 {
    color: rgb(255, 247, 0);
    border: 2px solid;
}
.box {
    background-color: crimson;
    height: 300px;
    width: 300px;
    margin-top: 50px;
    border-radius: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.circle {
    margin-top: auto;
    margin-bottom: auto;
    margin-inline: auto;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: aliceblue; 
}
